.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}
.nav-items > ul {
  display: flex;
  
}
.logo {
  width: 100px;
}
.nav-items > ul > li {
  font-size: 20px;
  list-style: none;
  margin-right: 20px;
  padding: 10px ;
}
.search {
  margin: 5px;
  border: 1px solid black;
  padding: 6px;
  width: 300px;
  border-radius: 5px;
  font-size: 16px;
}
.res-card{
  margin: 6px;
  width: 210px;
  background-color: rgb(242, 246, 246);
  padding: 10px;
  align-items: center;
}
.res-card :hover {
  cursor: pointer;
  border: 1px solid rgb(230, 245, 245);
}
.res-logo{
  height: 170px;
  width: 100%;
  border-radius: 10px;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
